# SF Salaries Exercise

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [ ]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
new_sal = sal.set_index('EmployeeName')
new_sal.loc['JOSEPH DRISCOLL','JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
new_sal.loc['JOSEPH DRISCOLL','TotalPayBenefits']

270324.91

** What is the name of highest paid person (including benefits)?**

In [ ]:
new_sal2 = sal.set_index('TotalPayBenefits')
new_sal2.loc[sal['TotalPayBenefits'].max(),'EmployeeName']

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
new_sal2.loc[sal['TotalPayBenefits'].min(),'EmployeeName']
#This Employee BasePay is 0 so he's not getting paid

'Joe Lopez'

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal_year = sal.groupby('Year')
sal_year['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [ ]:
sal_job = sal.groupby('JobTitle').count()
job_req = sal_job.sort_values(by='Id',ascending=False)
job_req['Id'].head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sal_year = sal[sal['Year']==2013]
job = sal_year.groupby('JobTitle').count()
job[job['Id']==1].count()['Id']

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [89]:
count=0
for job in sal['JobTitle']:
  if 'chief' in job.lower():
    count+=1
print(count)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [122]:
def getLength(word):
  return len(word)

In [126]:
last_sal=sal['BasePay']
last_sal = last_sal.to_frame().merge(sal['JobTitle'].apply(getLength),left_index=True,right_index=True)
last_sal['BasePay'].fillna(sal['BasePay'].mean())
last_sal['JobTitle'].fillna(last_sal['JobTitle'].mean())
last_sal.head(5)

     BasePay  JobTitle
0  167411.18        46
1  155966.02        31
2  212739.13        31
3   77916.00        36
4  134401.60        44

In [127]:
last_sal.corr()

           BasePay  JobTitle
BasePay   1.000000 -0.005059
JobTitle -0.005059  1.000000

# Great Job!